.List{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgb(0,0,0,0.1);
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
    width: 500px;
    align-items: center;
}